<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/dashboard' ]" target="_blank">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span mat-line>Dashboard</span>
      </a>
      <!-- <a mat-list-item [routerLink]="[ '/confChat' ]" target="_blank">
        <mat-icon mat-list-icon>book</mat-icon>
        <span mat-line>Glosario</span>
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{salaNombre | titlecase }}</span>
    </mat-toolbar>

    <div class="row app-content">
      <ng-container *ngIf="isProfesor; else elseTemplate">
        <button mat-fab (click)="addRoom()" matTooltip="Agregar sala grupal">
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>
      <ng-template #elseTemplate>
        <button mat-fab (click)="onClickUserInfo()">
          <mat-icon>person</mat-icon>
        </button>
      </ng-template>


      <div class="col-md-3">
        <mat-card class="mt-4 ml-4">
          <mat-card-header class="d-flex">
            <mat-card-title>Glosario</mat-card-title>
            <button mat-icon-button (click)="modal()" class="ml-auto">
              <mat-icon>library_add</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="termino">
                <th mat-header-cell *matHeaderCellDef> Término </th>
                <td mat-cell *matCellDef="let terminos"> {{terminos.termino}} </td>
              </ng-container>
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let terminos"> {{terminos.descripcion}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>

        <mat-card class="ml-4 mt-5" *ngIf="isProfesor">
          <mat-list>
            <h3 mat-subheader>Salas Grupales</h3>
            <mat-list-item *ngFor="let sala of salas" (click)="salaGrupal(sala._id)">
              <mat-icon mat-list-icon>chat</mat-icon>
              <h4 mat-line>{{sala.nombre}}</h4>
              <p mat-line class="text-muted">Nro. Participantes: {{sala.numero}}</p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

        </mat-card>
      </div>
      <div>
        <div class="col-md-9 chat-container">
          <mat-card class="main-card">
            <mat-list class="chat-list">
              <mat-list-item *ngFor="let message of messages"
                [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
                <img mat-list-avatar *ngIf="message.action === undefined" [src]="message.from.avatar">
                <h4 mat-line *ngIf="message.action === undefined">
                  <b>{{message.from.name}}</b>
                </h4>
                <p mat-line *ngIf="message.action === undefined">
                  <span> {{message.content}} </span>
                </p>
                <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
                  <span> <b>{{message.from.name}}</b> se ha unido a la conversación. </span>
                </p>
                <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
                  <span> <b>{{message.content.previousUsername}}</b> es ahora <b>{{message.content.username}}</b>
                  </span>
                </p>
              </mat-list-item>
            </mat-list>
            <div class="chat-footer-container">
              <mat-icon>message</mat-icon>
              <mat-form-field class="chat-input">
                <input matInput #inputMessage maxlength="140" placeholder="Escribe tu mensaje"
                  [(ngModel)]="messageContent" (keyup.enter)="sendMessage(messageContent)" autocomplete="off">
                <mat-hint [align]="'end'">{{inputMessage.value.length}}/140</mat-hint>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</mat-sidenav-container>